body {
    text-align: center;
    background-color: lightsteelblue;
    font-family:cursive
}

table {
    margin: auto;
    background-color: white;
}

.board td {
    color: grey;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.board td:hover {
    background-color: lightblue;
}

button {
    margin-bottom: 10px;
    margin-right: 10px;
}

.reset {
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.button {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.occupied {
    background-color: lightgray;
}